backcall==0.2.0
colorama==0.4.4
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
ghostscript==0.6
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
kiwisolver==1.3.1
matplotlib==3.3.3
numpy==1.19.3
opencv-python==4.4.0.46
parso==0.8.1
pdf2image==1.14.0
pickleshare==0.7.5
Pillow==8.0.1
prompt-toolkit==3.0.8
Pygments==2.7.3
pyparsing==2.4.7
pytesseract==0.3.7
python-dateutil==2.8.1
six==1.15.0
traitlets==5.0.5
wcwidth==0.2.5
